---
layout: default
title: The Engineering Studio
excerpt: |
  Consistently providing personal response, outstanding service and the timely
  delivery of results.
---

{% include header.html %}

{% include feature.html %}

<main class="main grid">
  <span class="anchor-point" id="overview"></span>
  <div class="main__content typeset">
    <h3>Overview</h3>
    <p><code>the engineering studio</code> is a Civil and Structural Engineering practice. Our aim is to consistently provide personal response, outstanding service and the timely delivery of results.</p>
    <p>The practice benefits from an ability to have a constructive dialogue with clients as well as collaborating closely with all disciplines involved in the project team from inception through project delivery.</p>
    {% include figure.html image="/assets/building-main.jpg" width="250" %}
    <p>A key aspect of the successful delivery of a project is the effective communication between all members of the project to fully understand the client’s aspirations and requirements for the project.</p>
    <p>At <code>the engineering studio</code> all projects are led by a Director, who will always be the point of contact from inception to completion of the project. We consider this approach to be key particularly in the early stages of the process where critical decisions are required thus reducing future issues along the design process.</p>
  </div>
  <aside class="main__aside">
    {% include vcard.html %}
  </aside>
</main>

{% include section-approach.html %}

{% include section-vision.html %}

{% include section-services.html %}

{% include section-testimonial.html %}

{% include section-partners.html %}

{% include section-contact.html %}

{% include footer.html %}

{% include site-email.html %}


<script type="text/javascript">
  const aside = document.querySelector('.main__aside');
  const speed = 0.1;

  function setScrollParallax() {
      aside.style.setProperty("--scrollparallax", (document.body.scrollTop || document.documentElement.scrollTop) * speed);
      window.requestAnimationFrame( setScrollParallax );
  }

  window.requestAnimationFrame( setScrollParallax );
</script>
