<footer class="footer grid">
  <div class="footer__copyright typeset">
    <small>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    <br/>
    <small>THE ENGINEERING STUDIO LTD is registered in England and Wales no. 11102269.   VAT no 287493351
Registered office: 64 Broad Street, Chipping Sodbury, Bristol, BS37 6AG.
The information in this email (and attachments where relevant) is confidential and may be legally privileged. Access to this email by anyone other than the intended recipient is unauthorised. If you are not the intended recipient any disclosure, copying, distribution or any action taken or omitted to be taken in reliance on it, is prohibited and may be unlawful.</small>
  </div>
  {% include nav-footer.html %}
</footer>
