<section class="approach-section grid section">
  <span class="anchor-point" id="approach"></span>
  <header class="approach-section__header typeset">
    <h3>Approach</h3>
  </header>
  <div class="approach-section__content typeset">
    <p>At the start of each project and once we have received our client’s specific requirements and aspirations we well identify the key aspects for the successful delivery of each particular project.</p>
    <p>Our Directors' experience will assist the client through the decision making process in regards to the design and planning stages, budget, programme, site, environment, project risk profile and deliverability at the early stages of the process.</p>
    <p>We are committed to finding the appropriate solution for each project, considering all factors and responding to our client’s and the project’s requirements and aspirations. At <code>the engineering studio</code> we find creative solutions to complex challenges.</p>
  </div>
  <aside class="approach-section__aside typeset">
    <ul class="list  list--ticked">
      <li><span>Proactive</span> {% include icon.html id="tick" %}</li>
      <li><span>Responsible design</span> {% include icon.html id="tick" %}</li>
      <li><span>Integrated</span> {% include icon.html id="tick" %}</li>
      <li><span>Innovation</span> {% include icon.html id="tick" %}</li>
      <li><span>Sustainability</span> {% include icon.html id="tick" %}</li>
      <li><span>Value/Cost</span> {% include icon.html id="tick" %}</li>
      <li><span>Creative solutions</span> {% include icon.html id="tick" %}</li>
      <li><span>Informed</span> {% include icon.html id="tick" %}</li>
      <li><span>Problem solving</span> {% include icon.html id="tick" %}</li>
      <li><span>Inclusive</span> {% include icon.html id="tick" %}</li>
    </ul>
  </aside>
</section>
