<section class="testimonial grid section">
  <span class="anchor-point" id="our-vision"></span>
  <header class="testimonial__header typeset">
    <h3>Testimonial</h3>
    <blockquote>
      <p><code>the engineering studio</code> provide a high standard of service and delivery. They have been proactive,<br>responsive and professional when developing engineering solutions and have a flexible approach to suit our requirements.</p>
      <cite>Jeremy Johnson, <strong>Technical manager - DWH</strong></cite>
    </blockquote>
  </header>
</section>
