<section class="partners-section grid section">
  <span class="anchor-point" id="partners"></span>
  <header class="partners-section__header typeset">
    <h3>Partners</h3>
    <br>
  </header>
  <div class="partners-section__column grid__column typeset">
    {% include figure.html image="/assets/mark.jpg" width="200" height="200" %}
    <h3>Mark Gould</h3>
    <p>Mark's passion and flair for engineering led him to set up the engineering studio in 2018 with the aim to provide clients with the best support, service and technical solutions for their projects.  His 18 years’ practical experience working for some of the world’s leading multidisciplinary engineering companies has provided him with the knowledge and skills to be able to successfully design and manage a variety of construction projects in the education, health, commercial, residential and refurbishment sectors incorporating all of the major building materials.</p>
    <p>His proactiveness and hands on approach allows him to assess and establish the key risks of each project in order to successfully manage the design process from the outset through to completion.</p>
    <p>He is a forward thinking individual who is able to provide innovative design solutions on challenging sites.   Mark's experience of building strong and trusting relationships with all team members maximises performance, while his high technical knowledge of civil & structural engineering ensures quality and excellence are constantly delivered for the duration of each project.</p>
    {% include button.html text="Find me on LinkedIn" link="https://www.linkedin.com/in/mark-gould-52107836/" icon="linkedin" %}
  </div>
  <div class="partners-section__column grid__column typeset">
    {% include figure.html image="/assets/francisco.jpg" width="200" height="200" %}
    <h3>Francisco Alguacil</h3>
    <p>Francisco is a Civil Engineer with many years’ experience in the construction industry. He has practical experience of a wide variety of projects in all of the major sectors.  Francisco is experienced in the design of surface water drainage systems in accordance with the SUDS hierarchy including soakaways, swales, attenuation ponds and underground attenuation tanks to meet the requirements of clients and LPAs.  He has also secured the required Approvals from the Environment Agency, Local Drainage Boards and Water Authorities. He also designs foul drainage systems to discharge either into the nearby adopted sewer or to foul treatment plants and has applied and obtained the requisite S104, S185, S106 legal agreements for the proposed drainage works.</p>
    <p>He is proficient at designing roads and highways, securing the requisition for S38 & S278 agreements and is also very experienced in undertaking the 3D modelling of development sites to arrive at a balanced cut and fill solution, avoiding the need for the costly net import or export of bulk material across the entire site and under discreet phases.</p>
    {% include button.html text="Find me on LinkedIn" link="https://uk.linkedin.com/in/francisco-alguacil-00b82353/pt" icon="linkedin" %}

  </div>
</section>
