<section class="approach-section grid section">
  <span class="anchor-point" id="approach"></span>
  <header class="approach-section__header typeset">
    <h3>Approach</h3>
  </header>
  <div class="approach-section__content typeset">
    <p><strong><code>the engineering studio</code> is a Civil and Structural Engineering practice. Our aim is to consistently provide personal response, outstanding service and the timely delivery of results.</strong></p>
    <p>The practice benefits from an ability to have a constructive dialogue with clients as well as collaborating closely with all disciplines involved in the project team from inception through project delivery.</p>
    <p>A key aspect of the successful delivery of a project is the effective communication between all members of the project to fully understand the client’s aspirations and requirements for the project.</p>
  </div>
  <aside class="approach-section__aside typeset">
    <ul class="list  list--ticked">
      <li><span>Proactive</span> {% include icon.html id="tick" %}</li>
      <li><span>Responsible design</span> {% include icon.html id="tick" %}</li>
      <li><span>Integrated</span> {% include icon.html id="tick" %}</li>
      <li><span>Innovation</span> {% include icon.html id="tick" %}</li>
      <li><span>Sustainability</span> {% include icon.html id="tick" %}</li>
      <li><span>Value/Cost</span> {% include icon.html id="tick" %}</li>
      <li><span>Creative solutions</span> {% include icon.html id="tick" %}</li>
      <li><span>Informed</span> {% include icon.html id="tick" %}</li>
      <li><span>Problem solving</span> {% include icon.html id="tick" %}</li>
      <li><span>Inclusive</span> {% include icon.html id="tick" %}</li>
    </ul>
  </aside>
</section>
