<section class="contact-section grid section">
  <span class="anchor-point" id="contact"></span>
  <div class="contact-section__column grid__column">
{% include map.html "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1307.0314252147463!2d-2.393080458745349!3d51.538162634423315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48719c64a5998777%3A0x8412d2aef530bf11!2sBroad+St%2C+Chipping+Sodbury%2C+Bristol+BS37+6AD!5e0!3m2!1sen!2suk!4v1536068496184" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> %} 
  <div class="contact-section__column grid__column typeset">
    <h3>{{ include.title }}</h3>
    {{ include.body | markdownify }}
  </div>
</section>
