<section class="approach-section grid section">
  <span class="anchor-point" id="approach"></span>
  <header class="approach-section__header typeset">
    <h3>{{ include.title }}</h3>
  </header>
  <div class="approach-section__content typeset">
    {{ include.body | markdownify }}
  </div>
  <aside class="approach-section__aside typeset">
    <ul class="list  list--ticked">
      {% for item in include.items %}
        <li><span>{{ item }}</span> {% include icon.html id="tick" %}</li>
      {% endfor %}
    </ul>
  </aside>
</section>
