<section class="contact-section grid section">
  <span class="anchor-point" id="contact"></span>
  <div class="contact-section__column grid__column">
    {% include map.html id="1hW9FFSl-AmeFhn7N88EgIGDV5pCtBJUa&z=12" %}
  </div>
  <div class="contact-section__column grid__column typeset">
    <h3>Contact Us</h3>
    <a id="siteEmail"></a>
    <p><strong><code>the engineering studio</code> can assist with your project during any of the different stages - Pre-Planning, Pre-Construction and Construction.</strong></p>
    <address class="">
      <strong>Address:</strong> Fromeforde House, Church Road, Yate, BS37 5JB<br/>
      <strong>Tel:</strong> 01454 560 060
    </address>
  </div>
</section>
