<section class="contact-section grid section">
  <span class="anchor-point" id="contact"></span>
  <div class="contact-section__column grid__column">
  {% include map.html id="https://www.google.co.uk/maps/place/Broad+St,+Chipping+Sodbury,+Bristol+BS37+6AD/@51.5385012,-2.395011,17z/data=!3m1!4b1!4m5!3m4!1s0x48719c64a5998777:0x8412d2aef530bf11!8m2!3d51.5385012!4d-2.3928223" %}  
  </div>
  <div class="contact-section__column grid__column typeset">
    <h3>{{ include.title }}</h3>
    {{ include.body | markdownify }}
  </div>
</section>
