<div class="vcard-group">
  <h6 class="vcard-group__heading">Partners</h6>
  <address class="vcard vcard--mark typeset">
    <header class="vcard__header">
      <img class="vcard__avatar" src="/assets/mark.jpg" alt="Mark Gould">
      <div class="vcard__details">
        <h5 class="given-name">Mark Gould</h5>
        <h6 class="vcard__role role">Director</h6>
      </div>
    </header>
    <a class="email" href="mailto:mark@theengineeringstudio.com">mark@theengineeringstudio.com</a>
    <div class="tel">07305 355 145</div>
    <div class="adr">
      <span class="street-address">Fromeforde House<br/>Church Road</span><br/>
      <span class="locality">Yate</span><br/>
      <span class="region">Bristol</span><br/>
      <span class="postal-code">BS37 5JB</span>
    </div>
  </address>
  <hr class="vcard-group__rule">
  <address class="vcard vcard--francisco typeset">
    <header class="vcard__header">
      <img class="vcard__avatar" src="/assets/mark.jpg" alt="Mark Gould">
      <div class="vcard__details">
        <h5 class="given-name">Francisco Alguacil</h5>
        <h6 class="vcard__role role">Director</h6>
      </div>
    </header>
    <a class="email" href="mailto:francisco@theengineeringstudio.com">francisco@theengineeringstudio.com</a>
    <div class="tel">07305 355 145</div>
    <div class="adr">
      <span class="street-address">Fromeforde House<br/>Church Road</span><br/>
      <span class="locality">Yate</span><br/>
      <span class="region">Bristol</span><br/>
      <span class="postal-code">BS37 5JB</span>
    </div>
  </address>
</div>
