<div class="vcard-group">
  <h6 class="vcard-group__heading">Partners</h6>
  <address class="vcard vcard--mark typeset">
    <header class="vcard__header">
      <img class="vcard__avatar" src="/assets/mark.jpg" alt="Mark Gould">
      <div class="vcard__details">
        <h5 class="given-name">Mark Gould</h5>
        <small>CEng MIStructE MICE</small>
        <h6 class="vcard__role role">Director</h6>
      </div>
    </header>
    <div class="email">
      {% include icon.html id="email" width=30 height=30 %}
      <a href="{{ site.email_mark | prepend: "mailto:" | split: "" | reverse | join: "" }}">{{ site.email_mark | split: "" | reverse | join: "" }}</a>
    </div>
    <div class="tel">
      {% include icon.html id="phone" width=30 height=30 %}
      <a href="tel:07305355145">07305 355 145</a>
    </div>
    <a href="#partners">more about Mark</a>
  </address>
  <hr class="vcard-group__rule">
  <address class="vcard vcard--francisco typeset">
    <header class="vcard__header">
      <img class="vcard__avatar" src="/assets/francisco.jpg" alt="Mark Gould">
      <div class="vcard__details">
        <h5 class="given-name">Francisco Alguacil</h5>
        <small>MEng</small>
        <h6 class="vcard__role role">Director</h6>
      </div>
    </header>
    <div class="email">
      {% include icon.html id="email" width=30 height=30 %}
      <a href="{{ site.email_francisco | prepend: "mailto:" | split: "" | reverse | join: "" }}">{{ site.email_francisco | split: "" | reverse | join: "" }}</a>
    </div>
    <div class="tel">
      {% include icon.html id="phone" width=30 height=30 %}
      <a href="tel:07305355145">07305 355 145</a>
    </div>
    <a href="#partners">more about Francisco</a>
  </address>
</div>
