.footer {
  background: $headingColour;
  color: $captionColour;
  &__copyright {
    grid-column: 2 / span 8;
  }
  .nav {
    grid-column: span 4;
    font-size: .9rem;
  }
  a {
    color: $backgroundColour;
  }
}
