.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    max-width: 1200px;
    margin: 0 auto;
    > * {
      padding: 0 2rem;
    }
    header {
      width: 100%;
    }
    &__column {
      width: 50%;
    }
    .main__content {
      padding: 0;
    }
    .main__content,
    .approach-section__content {
      width: 60%;
    }
    .vcard-group {
      margin-top: 6rem;
    }
  }
}

@supports (display: grid) {
  .grid {
    padding: 0;
    position: relative;
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    grid-column-gap: .75rem;
    -ms-grid-columns:
      [full-start]
        minmax(calc(calc(100% - 1200px) / 2), .5fr)
          [main-start]
            ([col-start] 1fr)[12]
          [main-end]
        minmax(calc(calc(100% - 1200px) / 2), .5fr)
      [full-end];
    grid-template-columns:
      [full-start]
        minmax(calc(calc(100% - 1200px) / 2), .5fr)
          [main-start]
            repeat(12, [col-start] 1fr)
          [main-end]
        minmax(calc(calc(100% - 1200px) / 2), .5fr)
      [full-end];

    // Set default column spanning for classless elements
    > * {
      grid-column: main-start / main-end;
    }

    // Set default styling for grid headers
    header {
      grid-column: main-start / main-end;
    }

    // Helper columns inside grid areas
    @include breakpoint(break-1) {
      &__column {
        grid-column: 3 / span 4;
      }
      &__column + &__column {
        grid-column: 9 / span 4;
      }
    }
  }
}
