.main {
  &__content {
    text-align: justify;
    @include breakpoint(break-1) {
      grid-column: 2 / 9;
    }
  }
  &__aside {
    transform: translateY( calc( var(--scrollparallax) * 1px ));
    margin-top: -6rem;
    @include breakpoint(break-1) {
      grid-column: 10 / 14;
    }
  }
  .figure {
    max-width: 50%;
    float: right;
    margin-left: 2.2rem;
  }
}
