// Approach section component
.approach-section {
  background: #4f5052 url('/assets/approach.jpg') no-repeat center right;
  background-size: contain;
  &__header {
    text-align: left;
  }
  .typeset h3,
  .typeset p,
  .typeset li {
    color: $backgroundColour;
  }
  &__content {
    text-align: justify;
    @include breakpoint(break-1) {
      grid-column: 2 / 8;
    }
  }
  &__aside {
    columns: 2;
    ul {
      padding-top: 0;
    }
    @include breakpoint(break-1) {
      columns: 1;
      grid-column: 10 / 13;
    }
  }
}
