.our-services-section {
  &__header {
    text-align: center;
  }
  background: $captionColour;
  .list--connected:before {
    bottom: 100%;
    transition: .9s ease-out;
    transition-delay: .6s;
  }
  &.section--inview .list--connected:before {
    bottom: 0;
  }
  ul {
    @extend .list--connected;
  }
}
