.testimonial {
  &__header {
    text-align: center;
  }
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before,
blockquote:after {
  color: inherit;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: -0.15em;
  vertical-align: -0.4em;
}
blockquote:after {
  content: close-quote;
}
blockquote p {
  display: inline;
}
