.partners-section {
  background: #4f5052;
  &__header {
    text-align: center;
  }
  .typeset h3 {
    text-align: center;
  }
  .typeset h3,
  .typeset h4,
  .typeset p,
  .typeset li {
    color: $backgroundColour;
  }
  &__column {
    text-align: justify;
  }
}
