---
title: false
---

@import "normalize",
        "settings",
        "sassline-base",
        "grid",
        "list",
        "button",
        "header",
        "nav",
        "feature",
        "main",
        "section-approach",
        "section-services",
        "section-vision",
        "section-testimonial",
        "section-partners",
        "section-contact",
        "footer",
        "vcard";

:root {
  height: auto;
  font-size: 11px;
  line-height: 1.2em;
  font-size: calc(11px + .2vw);
  line-height: calc(1.2em + .2vw);
}

// Globals
img {
  max-width: 100%;
  height: auto;
}

// Email links
a[href^="mailto"],
a[href^="tel"] {
  word-wrap: break-word;
  text-decoration: none;
}

// Nav anchor points, adjusted for the header
.anchor-point {
  position: absolute;
  top: -9.7rem;
}

.map {
  position: relative;
  height: 24rem;
  width: 100%;
  iframe {
    width: 100%;
    height: 100%;
  }
}

// Default padding for sections
.main,
.section {
  padding: 3rem 0 5.4rem;
}

.header,
.footer {
  padding: 1.6rem 0 1.8rem;
}


// Typography overrides
.typeset h1 strong {
  font-weight: 700;
}

.typeset h3 {
  font-weight: 300;
}

.typeset code {
  font-size: 1.3rem;
  background: none;
  -webkit-font-smoothing: auto;
}

.typeset,
.nav {
  -webkit-font-smoothing: antialiased;
}

.typeset blockquote p {
  border: none;
}

.typeset code,
.typeset pre {
  font-weight: 600;
  font-style: normal;
}

.typeset h6 {
  padding-top: 0;
}

.figure {
  &--center {
    text-align: center;
  }
}
