---
layout: default
---

{% include header.html %}

{% include feature.html %}

<main class="main grid">
  <span class="anchor-point" id="overview"></span>
  <div class="main__content typeset">
    {{ content }}
  </div>
  <aside class="main__aside">
    {% include vcard.html %}
  </aside>
</main>

{% include section-approach.html title=page.approach.title body=page.approach.body items=page.approach.items %}

{% include section-vision.html title=page.vision.title body=page.vision.body %}

{% include section-services.html title=page.services.title body=page.services.body items=page.services.items %}

{% include section-testimonial.html title=page.testimonial.title body=page.testimonial.body %}

{% include section-partners.html title=page.partners.title body=page.partners.body items=page.partners.items %}

{% include section-contact.html title=page.contact.title body=page.contact.body %}

{% include footer.html %}

<script type="text/javascript">
  const aside = document.querySelector('.main__aside');
  const speed = 0.1;

  function setScrollParallax() {
    aside.style.setProperty('--scrollparallax', `${(document.body.scrollTop || document.documentElement.scrollTop) * speed}`);
    window.requestAnimationFrame( setScrollParallax );
  }

  window.requestAnimationFrame( setScrollParallax );


  const listenedToElements = document.querySelectorAll('.approach-section, .our-services-section');

  const listenToElement = (element) => {
    const applyInViewState = () => {
      const triggerPoint = (document.body.scrollTop || document.documentElement.scrollTop) + window.innerHeight / 3;
      if (triggerPoint >= element.offsetTop) {
        element.classList.add('section--inview');
      }
      window.requestAnimationFrame( applyInViewState );
    };
    window.requestAnimationFrame( applyInViewState );
  }

  const attachEventListeners = (elements) => {
    for (let element of elements) {
      listenToElement(element);
    }
  }

  attachEventListeners(listenedToElements);

  const ticks = document.querySelectorAll('.approach-section .icon');
  let delayInterval = 0;
  for (let tick of ticks) {
    delayInterval++;
    tick.style.setProperty('--transitiondelay', `${delayInterval}00ms`);
  }

  const emails = document.querySelectorAll('.email a, #siteEmail')
  for (let email of emails) {
    email.setAttribute('href', email.getAttribute('href').split('').reverse().join('') );
    email.innerHTML = email.innerHTML.split('').reverse().join('');
  }
</script>
